[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
aws-lambda-powertools = "*"
aws-xray-sdk = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
